

/* Mixin Responsive */

@mixin responsive($size) {
   @media screen and (min-width: $size) {
      @content;
   }
}

@mixin btn ($py, $px, $bgColor, $color, $size) {
   display: inline-block;
   padding: $py $px;
   background-color: $bgColor;
   color: $color;
   font-size: $size;
   text-transform: uppercase;
   font-weight: 700;
}

@mixin title {
   font-size: 2.5rem;
   font-family: 'DM Serif Text', serif;
   margin-top: 0.75rem;
   margin-bottom: 0.75rem;
   font-weight: 400;
}