
$principalColor: hsl(256, 26%, 20%);
$secondaryColor: hsl(216, 30%, 68%);

$darkColor: hsl(270, 9%, 17%);
$grayColor: hsl(273, 4%, 51%);
$veryLightColor: hsl(0, 0%, 98%);
$grayMobile: hsl(276, 4%, 23%);