
.navbar {
   height: 12vh;
   width: 100%;
   position: fixed;
   top: 0;
   background-color: $veryLightColor;
   z-index: 1000;

   .container {
      display: grid;
      grid-template-columns: 1fr auto;
      justify-content: space-between;
      align-items: center;
      height: inherit;
   }
}

.navbar__menu {
   position: fixed;
   top: 12vh;
   left: 0;
   width: 100%;
   background-color: darken($grayColor, 28%);
   overflow: hidden;
   transform: translateY(1000px);
   transition: 0.5s;
   will-change: transform;
   z-index: 100;

   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   height: 88.1vh;
   padding-top: 6rem;
   padding-bottom: 8rem;

   &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      background-image: url('../images/bg-pattern-mobile-nav.svg');
      background-position: center bottom;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      z-index: -10;
   }

   &.active {
      transform: translateY(0);
   }

   @include responsive(768px) {
      transform: translateY(0);
      display: flex;
      flex-direction: row;
      position: initial;
      align-items: center;
      height: 12vh;
      background-color: $veryLightColor;
      padding-top: 0;
      padding-bottom: 0;

      &::before {
         background-image: none;
         z-index: -10;
      }
   }
}

.navbar__link {
   color: $veryLightColor;
   font-size: 1.25rem;

   @include responsive(768px) {
      display: block;
      padding: 0.25rem 0.75rem;
      color: $secondaryColor;
      text-transform: uppercase;
      transition: 0.3s;
      will-change: color;
      font-weight: 700;
      font-size: 0.9rem;

      &:hover {
         color: $principalColor;
      }
   }
}

.navbar__link--plans {
   border: 2px solid $veryLightColor;
   padding: 0.45rem 2.2rem;
   color: $veryLightColor;
   transition: 0.4s;
   will-change: background-color color;
   margin-left: 0;
   background-color: $grayMobile;

   &:hover {
      background-color: $veryLightColor;
   }

   @include responsive(768px) {
      border-color: $principalColor;
      color: $principalColor;
      margin-left: 0.5rem;
      background-color: $veryLightColor;
      padding: 0.45rem 0.7rem;

      &:hover {
         color: $veryLightColor;
         background-color: $principalColor;
      }
   }
}

.navbar__bars {
   grid-column: 3 / 4;
   border: 2px solid $principalColor;
   padding: 0.3rem 0.55rem;
   display: block;

   @include responsive(768px) {
      display: none;
   }
}